ul{
	width: 200px;
}
ul li ul{
	list-style-type: none;/*去掉索引符号*/
	width: 200px;
}

a{
	position: relative;
	display: block;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	background: #00f;
	padding-top: 3px;
	color: #fff;
	height: 30px;
}

li{
	display: inline;/*	去除列表项之间的空格*/
}
.hover{
	background: #000;
}
.hot{
	text-decoration: underline;
}
.mainmenu{
	float: left;
	width: 200px;
	list-style-type: none;
	margin-right: 5px;
}
li.mainmemu ul{
	margin: 0;
}

ul#dropdownmenu li a:hover{
	background: #000;
}