body{
	padding: 0;
	margin: 0;
}
.buttons{
	display: block;
	width: 100px;
	float: left;
	text-align: center;
	border: 1px solid;
	font-weight: bold;
}
.div{
	width: 500px;
	height: 50px;
}
.hover{
	cursor: pointer;
	color: blue;
	background-color: cyan;
}

.text{
	margin: 0;
}
.blodmatter{
	font-weight: bold;
}
.italicmatter{
	font-style: italic;
}
#info{
	display: none;
}
img{
	position: relative;
}